.ql-image {
  position: relative;
  display: inline-block;
}
.ql-image img {
  border-radius: 1em;
}

.ql-image-selected img {
  box-shadow: 0 0 0 4px #0060c0;
}

.ql-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ql-image-resize-overlay {
  /* position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; */
}

.ql-image-resize-handle {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  right: -10px;
  width: 16px;
  height: 50px;
  background-color: #0060c0;
  border-radius: 4px;
  z-index: 100;
  cursor: ew-resize;
  user-select: none;
}
